@model IEnumerable<QLBH.Models.NgheSi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row genres">
    <div class="col-lg-10 ">
        <div class="title-add">
            <h2>
                Danh sách Nghệ sỹ
            </h2>
            <a href="~/Admin/NguoiDung/ThemNguoiDung"><button type="submit" class="btn btn-success">Thêm mới</button></a>
        </div>
        <div class="genre">
            <table id="dtDynamicVerticalScrollExample" class=" table table-hover table table-striped table-bordered table-sm" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã Nghệ Sỹ</th>
                        <th>Tên Nghệ sỹ</th>
                        <th>Ảnh Nghệ sỹ</th>
                        <th>Giới thiệu</th>
                        <th class="withHanhDong">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 0;
                    }
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenNS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GioiThieu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AnhNS)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

